# Base configuration
spring:
  application:
    name: shopifake-access
  
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    show-sql: false
  
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8081

# SpringDoc OpenAPI configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method

# Actuator configuration
management:
  endpoints:
    web:
      exposure:
        include: info,metrics
      base-path: /actuator
  info:
    env:
      enabled: true
    java:
      enabled: true

# Logging configuration
logging:
  level:
    root: INFO
    com.shopifake.microservice: INFO